thead>tr>th {
    position: sticky;
    top: -1;
}

.center {
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    width: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}